{% extends 'store/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}


<div class="products">
    {% for product in products %}

    <div class="product-card">

        <a href="{% url 'show_productDetails' product.id %}">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="product">
            {% endif %}
        </a>

        <div class="product-info">
            <h3>{{ product.name }}</h3>

            <div class="price">₹{{ product.price }}</div>

            <a href="{% url 'add_to_cart' product.id %}" class="btn">
                Add to Cart
            </a>
        </div>

    </div>

    {% endfor %}
</div>

{% endblock %}