{% extends 'store/base.html' %}

{% block title %}Product Details{% endblock %}

{% block content %}

{% if not product %}
    <p>Sorry, this is not a valid product.</p>

{% else %}

<div class="product-detail">

    <div class="detail-img">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="product">
        {% endif %}
    </div>

    <div class="detail-info">
        <h2>{{ product.name }}</h2>

        <p class="price">₹{{ product.price }}</p>

        <p class="description">{{ product.description }}</p>

        <a href="{% url 'add_to_cart' product.id %}" class="btn">
            Add to Cart
        </a>
    </div>

</div>

{% endif %}

{% endblock %}